@import "utils/variables";

.list-card {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: $card-gap-5;
  padding: $card-gap-5;
  .card {
    position: relative;
    box-sizing: border-box;
    width: calc(
      calc(100% / $numCards-3 - $card-gap-5) - calc($card-gap-5 / $numCards-3)
    );
    font-size: 20px;
    flex-direction: column;
    background-color: $black;
    color: $white;

    & .tag-price {
      display: flex;
      align-items: center;
      justify-content: center;
      top: -25px;
      left: -20px;
      position: absolute;
      height: 35px;
      width: 50px;
      border-radius: $radius-default;
      background-color: $black;
      color: $white;

      & span {
        font-weight: bold;
        color: whitesmoke;
        font-family: "Libre Baskerville";
        font-size: 25px;
      }
    }

    & .card_image {
      height: 70%;
      box-sizing: border-box;
      display: flex;
      justify-content: center;

      & img {
        flex-shrink: 0;
        max-width: 100%;
        max-height: 100%;
      }
    }

    &_body {
      border-top: none;
      height: 30%;
      box-sizing: border-box;
      text-overflow: ellipsis;

      .title {
        font-weight: bold;
        color: #e30022;
        flex-shrink: 1;
      }
      .description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  &.active {
    width: 80%;
    transition: ease 1s;
    gap: $card-gap-5;
    padding: $card-gap-5;
    .card {
      width: calc(
        calc(100% / $numCards-4 - $card-gap-5) + calc($card-gap-5 / $numCards-4)
      );
      height: calc(
        calc(100% - calc($card-gap-5 * calc($numCards-2 - 1))) / $numCards-2
      );
      &_image {
        img {
          object-position: 0% 14%;
          object-fit: cover;
        }
      }
    }
  }
}

@media screen and (min-width: $dev-mod) {
  .list-card {
    .card {
      flex-wrap: wrap;
    }
  }
}

@media screen and (min-width: $full-screen) {
  .list-card {
    .card {
      height: calc(
        calc(100% - calc($card-gap-5 * calc($numCards-2 - 1))) / $numCards-2
      );
      width: calc(
        calc(100% / $numCards-3 - $card-gap-5) + calc($card-gap-5 / $numCards-3)
      );
      flex-wrap: wrap;
      box-sizing: border-box;
    }
  }
}
