$dev-mod: 887px;
$full-screen: 1440px;
$white: #ffffff;
$black: #000000;

$card-border-width: 2px;
$numCards-col: 2;
$numCards-1: 1;
$numCards-2: 2;
$numCards-3: 3;
$numCards-4: 4;
$numCards-full: 4;
$card-gap: 10%;
$card-gap-5: 5%;
$radius-default: 5px;
