.MenuIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  position: relative;
  cursor: pointer;
}

button {
  height: 100%;
  width: 100%;
}

.active .iconBar.top {
  animation: effectTop 1s forwards;
}
.active .iconBar.middle {
  animation: middleEffect 1s forwards;
}
.active .iconBar.bottom {
  transform-origin: center;
  animation: effectBottom 1s forwards;
}

.inactive .iconBar.top {
  animation: effectTopInactive 1s forwards;
}
.inactive .iconBar.middle {
  animation: middleEffectInactive 1s forwards;
}
.inactive .iconBar.bottom {
  transform-origin: center;
  animation: effectBottomInactive 1s forwards;
}

.menu-icon-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.iconBar {
  left: 0;
  height: 10%;
  width: 100%;
  position: absolute;
  background-color: #595758;
  transition: 3s all;
}

.invisible {
  display: none;
}

.top {
  top: calc(0%);
}

.middle {
  transform: translateY(-50%);
  top: 50%;
}

.bottom {
  top: 100%;
  transform: translateY(-100%);
}

@keyframes middleEffect {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes middleEffectInactive {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes effectTopInactive {
  0% {
    transform: translateY(25px) rotate(45deg);
  }
  50% {
    transform: translateY(25px) rotate(0deg);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes effectBottomInactive {
  0% {
    transform: translateY(-25px) rotate(-45deg);
  }
  50% {
    transform: translateY(-25px) rotate(0deg);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes effectTop {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(25px) rotate(0deg);
  }
  100% {
    transform: translateY(25px) rotate(-45deg);
  }
}

@keyframes effectBottom {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-25px) rotate(0deg);
  }
  100% {
    transform: translateY(-25px) rotate(45deg);
  }
}
