$base-white: white;
$base-red: red;
$base-black: black;

.App {
  .container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    .list-card {
      width: 54%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: 100%;
      .card {
        display: flex;
        width: calc(50% - 40px);
        height: 70%;
        font-size: 20px;
        flex-direction: column;
        padding: 0px 20px 0 20px;
        justify-content: center;
        &_image {
          flex-shrink: 0;
          height: 60%;
          border: 3px solid;
          display: flex;
          justify-content: center;
          align-items: center;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom: none;
          position: relative;
          &.active {
            border: 10px solid red;
            border-bottom: none;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
          }
          & .tag-price {
            top: -25px;
            left: -20px;
            position: absolute;
            height: 70px;
            width: 100px;
            border: 3px solid black;
            border-radius: 10px;
            background-color: #e30022;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 2px 2px #343434df;

            & span {
              font-weight: bold;
              color: whitesmoke;
              font-family: "Libre Baskerville";
              font-size: 30px;
            }
          }
          img {
            object-position: 0% 14%;
            object-fit: cover;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }
        }
        &_body {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          border-top: none;
          border: 3px solid;
          padding: 10px;
          flex-shrink: 1;
          min-height: 150px;
          &.active {
            border: 10px solid red;
            border-top: none;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
          }
          .title {
            font-family: roboto;
            font-weight: bold;
            color: #e30022;
            font-size: 30px;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            flex-shrink: 1;
          }
          & .description {
            height: 75px;
            overflow: hidden;
            text-overflow: ellipsis;
            flex-shrink: 0;
          }
        }
      }
    }

    .btn-options {
      padding: 2% 2% 2% 2%;
      width: 30%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      button {
        width: 100px;
        height: 50px;
        margin-bottom: 50px;
      }
      .form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        input {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
