$base-white: white;
$base-red: red;
$base-black: black;

.App {
  display: flex;
  flex-wrap: wrap;
  .container {
  }
  .test-button {
    position: fixed;
    top: 10%;
    right: 10%;
    height: 40px;
    width: 100px;
  }

  .show {
    animation: showModal 500ms forwards;
  }
  .hidden {
    pointer-events: none;
    animation: fade 500ms forwards;
  }
  .invisible {
    display: none;
  }
  @keyframes fade {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes showModal {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
